<html xmlns:th="http://www.thymeleaf.org">
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <!--<div class="menuextras">-->
            <!--<div class="extras">-->
            <!--</div>-->
        <!--</div>-->
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="#"><img th:src="@{/resource/theme/img/logo.png}" style="width:200px"></a></li>
                <li class="active">
                    <a href="#">Sonar规则自动同步</a>
                </li>
            </ul>
        </nav>
    </div>
</div>