<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--&lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Syn_Sonar</title>
    <!--base context-->
    <script type="text/javascript" th:inline="javascript">
        var baseUrl = [[${#servletContext.contextPath}]];
    </script>
    <link rel="shortcut icon" th:href="@{favicon.ico}">

    <link rel="stylesheet" th:href="@{/resource/theme/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resource/theme/css/icomoon-social.css}">
    <link th:href='@{/resource/theme/css/font.css}' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" th:href="@{/resource/theme/css/leaflet.css}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/resource/theme/css/leaflet.ie.css}"/>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/resource/theme/css/main.css}">

    <script th:src="@{/resource/theme/js/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <script th:src="@{/resource/component/jquery/jquery-2.2.0.min.js}" type=text/javascript></script>
    <script th:src="@{/resource/component/bootstrap/bootstrap.min.js}" type=text/javascript></script>
    <script th:src="@{/resource/component/bootstrap/bootstrap-paginator.min.js}" type=text/javascript></script>
    <script th:src="@{/resource/component/sweetalert/sweetalert2.all.min.js}" type=text/javascript></script>
    <script th:src="@{/resource/js/loading.js}" type=text/javascript></script>
    <link type=text/css media=all th:href="@{resource/component/sweetalert/sweetalert2.min.css}" rel="stylesheet">
    <link type=text/css media=all th:href="@{resource/component/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{resource/component/bootstrap/bootstrap-theme.min.css}"/>

    <script type="text/javascript" th:src="@{resource/js/ajaxSetup.js}"></script>
</head>
<!--           可选择是否采用公共类引入               -->
<!--<div th:include="common/head :: html"></div>-->
<body>
<div th:replace="common/nav">
</div>

<!-- Services -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="service-wrapper">
                    <img th:src="@{/resource/theme/img/service-icon/ruler.png}">
                    <h3>一键同步</h3>
                    <p><strong>输入执行码，进行远程规则同步</strong></p>
                    <p><strong>多出(本地比远程多出或者存在差异)</strong></p>
                    <p><strong>差异(本地与远程存在的差异)</strong></p>
                    <div id="syn_button" class="btn btn-blue"> 一 键 同 步</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->

<!-- Pricing Table -->
<div class="section">
    <div class="container">
        <div id="latest">
        </div>
    </div>
</div>
<!-- End Pricing Table -->
<div class="section">
    <div class="container">
        <h2>同步历史</h2>
        <div class="row">
            <div id="historyList" class="col-md-12 col-sm-12"></div>
            <div>
                <ul id="pageLimit" class="pagination" style="float:right">
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Our Clients -->
<div class="section">
    <div class="container">
        <h2></h2>

    </div>
</div>
<!-- End Our Clients -->
<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2018 syn_sonar. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>
<!--<div th:replace="common/foot">-->
<script th:inline="javascript" th:src="@{resource/js/home/home.js}"></script>
<script th:inline="javascript" th:src="@{resource/js/home/syn.js}"></script>
<script th:src="@{resource/theme/js/leaflet.js}"></script>
<script th:src="@{resource/theme/js/jquery.fitvids.js}"></script>
<script th:src="@{resource/theme/js/jquery.sequence-min.js}"></script>
<script th:src="@{resource/theme/js/jquery.bxslider.js}"></script>
<script th:src="@{resource/theme/js/main-menu.js}"></script>
<script th:src="@{resource/theme/js/template.js}"></script>
</body>
</html>